/* Post */
.postEdit .formBtn {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
}

.post {
    margin-bottom: 40px;
    background-color: #ffffff;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.9);
    min-height: 75px;
    /* padding-bottom: 40px; */
}

.post h4 {
    font-size: 14px;
    max-width: 220px;
    overflow: scroll;
    line-height: 17px;
}

/* .post__file {
    right: -55px;
    top: -10px;
    position: absolute;
    border-radius: 12px;
    width: 48px;
    height: 48px;
    margin-top: 10px;
    cursor: pointer;
    border: 2px solid #6464ff;
    padding: 3px;
}

.post__file:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.65;
} */

.post__like {
    display: flex;
    position: absolute;
    top: 50px;
    right: 10px;
    justify-content: center;
    align-items: center;
}

.post__likeBtn {
    cursor: pointer;
    font-size: 18px;
    margin-right: 2px;
}

.post__likeBtn:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.65;
}

.post__likeCount {
    font-size: 12px;
    margin-left: 2px;
    top: -15px;
}

/* poatMetadatas */
.post__meta {
    display: flex;
    position: absolute;
    bottom: -20px;
    right: 5px;
    justify-content: center;
    align-items: center;
}

.post__meta__postedBy {
    color: rgba(255, 255, 255, 0.65);
    font-weight: 200;
    font-size: 12px;
    /* line-height: 16px; */
}

.post__meta__photo {
    position: relative;
    top: 5px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

/* postAction */
.post__actions {
    position: absolute;
    right: 6px;
    top: 6px;
}

.post__actions span {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 23px;
}

.post__actions span:hover {
    transition: all 0.15s ease-in-out;
    color: #6464ff;
    text-decoration: underline;
}

.post__actions span:first-child {
    margin-right: 3px;
}

.post__img:hover {
    transition: all 0.15s ease-in-out;
    opacity: 0.65;
}
