/* Post */
.postEdit .formBtn {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 5px;
}

.post {
    margin-bottom: 20px;
    background-color: #ffffff;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.9);
    min-height: 75px;
    padding-bottom: 40px;
}

.post h4 {
    font-size: 13px;
    max-width: 240px;
    overflow: scroll;
    line-height: 17px;
}

.post img {
    right: -60px;
    top: -10px;
    position: absolute;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #04aaff;
    padding: 4px;
}

.post img:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.65;
}

.post__actions {
    position: absolute;
    right: 6px;
    top: 6px;
}

.post__actions span {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.post__actions span:hover {
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    color: #04aaff;
    /* text-decoration: underline; */
}

.post__actions span:first-child {
    margin-right: 5px;
}
