@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
    box-sizing: border-box;
}

input {
    all: unset;
    box-sizing: border-box;
    appearance: none;
}

body {
    background-color: #191919;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 14px;
    color: #ffffff;
}

button {
    background-color: #ffffff;
    color: #191919;
}

a {
    text-decoration: none;
    color: inherit;
}

form {
    width: 100%;
}

.post-input::placeholder {
    color: #ffffff;
    opacity: 0.9;
}

.main {
    max-width: 890px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    min-width: 240px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

.formInput {
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #191919;
    text-align: center;
    background-color: #ffffff;
    color: #191919;
}

.formBtn {
    cursor: pointer;
    width: 100%;
    padding: 6px 19px;
    text-align: center;
    color: #ffffff;
    border-radius: 20px;
    background-color: #04aaff;
    border: 1px solid #04aaff;
    cursor: pointer;
}

.cancelBtn {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.35);
}

.formBtn:hover,
.cancelBtn:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.65;
}

/* Google Fonts */
.material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 100, "opsz" 48;
    color: #04aaff;
}
